* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff: 'Kumbh Sans', sans-serif;
    --fs: 1.125rem;
    --fw-light: 400;
    --fw-bold: 700;

    --dark-cyan: hsl(185, 75%, 39%);
    --v-dark-blue: hsl(229, 23%, 23%);
    --dark-grey-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%); 
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: var(--dark-cyan);
    min-height: 100vh;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 35vw bottom 50vh, left 40vw top 40vh;
}

.card-container {
    font-family: var(--ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 85%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.card-img-section {
    position: relative;
}

.card-hero-bg {
    width: 100%;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
}

.card-text-section {
    text-align: center;
}

header {
    text-align: center;
    line-height: 1.8;
    position: relative;
    top: -25px;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
    padding: 25px 20px;
}

h1, h2 {
    color: var(--v-dark-blue);
    font-weight: var(--fw-bold);
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.3rem;
}

.age {
    font-weight: var(--fw-light);
    margin-left: 5px;
}

.city {
    font-size: .9rem;;
}

p, .age, .stats-name {
    color: var(--dark-grey-blue);
}

.stats-info {
    line-height: 1.6;
}

.stats-name {
    font-size: .65rem;
    letter-spacing: .1rem;
}

/* @media screen and (max-width: 260px) {
    .stats-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .stats-info {
        padding: 12px 0;
        line-height: 1.4;
    }
}

@media screen and (min-width: 495px) {
    .card {
        max-width: 500px;
    }
    header h1 {
        font-size: 1.35rem;
    }
}
 */
